.itemMain {


    padding-top: 4rem;
    padding-bottom: 4rem;
    width: 100%;
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    


.itemWrapper {

    background: white;
    border: solid 1px #eaeaea;
    width: 70%;

    @media screen and (max-width:768px) {
        width: 100%;
        border:none;
      }


    .description {
    
        font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        width: auto;
        padding: 25px;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.25;


    @media screen and (min-width:768px) and (max-width:1024px) {
            width: auto;
            
    
            }    

    @media screen and (max-width:768px) {
        width: auto;
        padding: 20px 16px;
        color:#666

        }

      .descPro {
        font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
        font-weight: 400;
        color: #666;
        font-size: 1.25rem;
        line-height: 1.25;

    @media screen and (max-width:768px) {
        word-break: break-all;
        font-size: 1rem;
    
         }

      }  
    
        }    


.initialInfo {

    display:flex;
    padding-bottom: 80px;

    @media screen and (max-width:768px) {
       padding-bottom: 0px;
       flex-direction: column-reverse;

      }
    .imgRes {  

     text-align: center;
     
     .minRes {
        width: 90%;
        max-width: 300px;
     }

      @media screen and (min-width:780px) {

        display: none;
        
       }

       

    }
   

    .itemInf {

        
        width: 30%;
        padding: 24px 16px;
        border: 1px solid #eaeaea;
        border-radius: 8px;
        box-sizing: border-box;
        margin-right: 1rem;
        margin-top:1rem;

    @media screen and (max-width:768px) {
         width: 100%;
         border:none;
       
     
           }
    
    }
    .itemPics {
        width: 70%;
        display: flex;

    @media screen and (max-width:780px) {
            display: none;
        
              }
              
    
      
              
    .ulPic {
        padding: 0;
        flex-direction: column;
        display: flex;
        width: 10%;
     }   

    .max {
        display: flex;
        justify-content: center;
        width: 100%;
    

    
        
    

    } 
        
    }

    .pics {
        max-height: 100px;
        
        display: inline-block;
    }

    .pic {
        
        max-height: 100px;
        width: 100%;
    }
    


    

    


.condition {

    color: rgba(0,0,0,.45);
    font-size: 0.8rem;
    font-weight: 400;

}

.itemTitle {

    color: rgba(0,0,0,.8);
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 8px;
    margin: 0;

    @media screen and (max-width:768px) {
        font-size: 1rem;

      }
}

.itemPrice {

    font-weight: 300;
    font-size: 2rem;
    margin: 0;
}

.itemCuote {
    font-weight: 400;
    font-size: 1rem;
    color:rgba(0,0,0,.8)
}

.itemSend {
    color: #00a650;
    font-weight: 400;
    font-size: 1rem;
}

.Button {
    width: 100%;
    border-color: transparent;
    background-color: #3483fa;
    color: #fff;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    height: 42px;
    margin: 0 0 6px 0;
}

.cart.Button {
    
    background-color: rgba(65,137,230,.15);
    color: #3483fa;
}


}



.attributes {

    margin: 0px;
    width: auto;
    text-align: left;
    padding: 25px;
    box-sizing: border-box;
    border-top: 1px solid rgba(0,0,0,.1);

    @media screen and (max-width:768px) {
        padding: 0px 0px 20px 30px;
        width: 100%;
    
 
       }

    .atr {
        width: 90%;
    }    

.tr {
    background: #f5f5f5;

.th {

    padding: 10px 0px 10px 16px;

}

.td {
    padding: 10px 0px 10px 16px;
}
    
}
    
}



}


}