
.inputWrapper {

  background-color: yellow;
  height: 90px;

  @media screen and (max-width:750px) {
   display: flex;
   align-items: center;
   height: 75px;
  }

.inputNav {
  margin: 0px auto;
  width: 50%;
  display: flex;
  align-items: center;
  padding-top: 1rem;
  @media screen and (max-width:750px) {
    width: 70%;
    padding: 0px;
  }
  @media screen and (min-width:750px) and (max-width:900px) {
    width: 80%;
  }

  @media screen and (min-width:900px) and (max-width:1200px) {
    width: 80%;
  }
.svgIcon {

  font-size: 18px;
  padding: 10px;
  background-color: white;
  color:#666;
  margin-left: -45px;
  border-left: solid 1px;
  border-color: #eaeaea;

}


  .search {

    border: none;
    padding: 11px;
}  

.find {
  padding: 0.8rem;
  width: 100%;
  border: none;
  border-radius: 2px;
  font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;

  @media screen and (max-width:500px) {
    width: 80%;
    border-radius: 10px;
  }
} 

.logo {
  height: 4rem;
  position: relative;
  right: 70px;

 @media screen and (max-width:750px) {
   display:none
 } 
}

}

.login {
  text-align: end;
  padding-right: 10px;
  margin-top: -10px;

  @media screen and (max-width:750px) {
    margin: 0px;
  } 

 .logout {

  background: none;
  border: 0;
  color: inherit;
  font-size: 15px;
  cursor: pointer

 }
 .cart {
   font-size: 15px;
 } 
}


}