
.inputWrapper {

  background-color: yellow;


.inputNav {
  margin: 0px auto;
  width: 50%;
  display: flex;
  align-items: center;
  padding: 1rem;
  @media screen and (max-width:900px) {
    width: 100%;
  }
.svgIcon {

  font-size: 20px;
  padding: 10px;
  background-color: white;
  color:#666;
  margin-left: -45px;
  border-left: solid 1px;
  border-color: #eaeaea;

}

  .search {

    border: none;
    padding: 11px;
}  

.find {
  padding: 0.8rem;
  width: 100%;
  border: none;
  border-radius: 2px;
  font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;

  @media screen and (max-width:500px) {
    width: 80%;
    border-radius: 10px;
  }
} 

.logo {
  height: 4rem;
  position: relative;
  right: 70px;

 @media screen and (max-width:750px) {
   display:none
 } 
}

}

}