$yellow: yellow;


.wrapper {

  background-color:$yellow;
  height: 100vh;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
 
  
.map {
    display: flex;
    flex-direction: column;
    
}



a {
  text-decoration: none;
  font-weight: 600;
}