.Button {
    width: 100% ;
    border-color: transparent;
    background-color: #3483fa;
    color: #fff;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    height: 42px;
    margin: 0 0 6px 0;
}