.main {

  display:flex;
  background-color: #eaeaea;
  width: 100%;
  min-height: 43.75rem;
  padding-top:4rem;
  padding-bottom: 4rem;


.tagsProduct {

  width: 20%;
  padding-left: 2rem;


.modal {

background-color: white;  

}

.prime {

 padding: 0;
 border:none;
 font-size: 14px;
  
}

}  


.productWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  
 
}

}