.main {

  display:flex;
  background-color: #eaeaea;
  width: 100%;
  min-height: 43.75rem;
  padding-top:4rem;
  padding-bottom: 4rem;

 @media screen and (max-width: 850px)  {

    justify-content: center;

 }


.tagsProduct {

  width: 20%;
  padding-left: 2rem;

  @media screen and (max-width: 850px)  {

    display: none;

 }


.prime {

 padding: 0;
 border:none;
 font-size: 14px;
  
}

}  


.productWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;

  @media screen and (max-width: 850px)  {

    width: 100%;
    justify-content: space-around;
 }
  
 
}

}