.totalCart {
    font-size: 1.625rem;
    font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;;
    text-align: end;
    font-weight: 400;
    padding: 48px 20px 20px 20px;

}